root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 8
trim_trailing_whitespace = true

[{*.md}]
indent_size = 2
trim_trailing_whitespace = false

[{doc/*.txt}]
indent_size = 8
indent_style = tab
